$c-body: #789;
$c-header: #639;
$c-left-menu: #364;
$c-main: #f0f0f0;
$c-footer: #333;
$c-b-form-task:  rgba(90, 77, 136, .588);
$c-form-task:  #bebebe;
$c-title-desc-t:  #fff;
$c-title-desc-d:  rgba(255, 255, 255, .725);
$c-past: #834545;
$c-present: #0f8300;
$c-future: #963aff;
$c-bg-past: #ffb4b4;
$c-bg-present: #aeffc9;
$c-bg-future: #b9d8ff;
$c-info-btn: #2883a7;
$c-destroy-btn: #a72828;
$c-bg-row: #fff;
$c-border-row: #858383;

$space: 5px;

$max-p: 100%;
$max-vw: 100vw;
$max-vh: 100vh;
