@import './../../variables';

@keyframes line {
  from {
    width: 0;
  }

  to {
    width: $max-p * .9;
  }
}

@keyframes very-important {
  0% {
    background-color: $c-very-important-1;
  }

  25% {
    background-color: $c-important;
  }

  50% {
    background-color: $c-very-important-2;
  }

  75% {
    background-color: $c-important;
  }

  0% {
    background-color: $c-very-important-1;
  }
}

main {
  font-family: 'Courgette', cursive;
  position: relative;
}

.task-container {
  border-color: $c-border-row;
  border-radius: $space;
  border-style: solid;
  border-width: $space / 5;
  display: flex;
  flex-direction: column;
  margin: $space * 2;

  > :first-child {
    margin: $space * 5;
  }
}

.row {
  background-color: $c-bg-row;
  border-color: $c-border-row;
  border-radius: $space;
  border-style: solid;
  border-width: $space / 5;
  display: flex;
  justify-content: space-evenly;
  margin: $space * 2 $space * 5;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  > :last-child {
    display: flex;
    flex-direction: row;

    > :last-child {
      fill: $c-destroy-btn;
    }
  }

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: $space * 2;
    padding: $space;
  }
}

.title-desc {
  font-size: smaller;
  width: 50%;

  > span {
    margin: $space;
  }

  > :first-child {
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.fa-info {
  path {
    fill: $c-info-btn;
  }
}

.fa-minus {
  path {
    fill: $c-destroy-btn;
  }
}

.present {
  background-color: $c-bg-present;
  color: $c-present;
}

.past {
  background-color: $c-bg-past;
  color: $c-past;
}

.future {
  background-color: $c-bg-future;
  color: $c-future;
}

.group-title {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.close {
  height: $space * 15;
  overflow: hidden;
}

.open {
  height: auto;
}

.create-task {
  margin: $space * 2;

  > :last-child {
    margin-left: $space;
  }
}

.completed {
  position: relative;

  &::before {
    animation: line 1s;
    background: $c-logo;
    border-radius: $space * 6;
    color: transparent;
    content: 'aasdasd';
    height: $space;
    left: $max-p * .05;
    position: absolute;
    top: calc(#{$max-p / 2} - #{$space / 2});
    width: $max-p * .9;
  }
}

.important {
  background-color: $c-important;
}

.very-important {
  animation: very-important 2s infinite;
  background-color: $c-very-important-1;
}
